@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$zindex-dropdown: 1060;

$primary: #4257a6;
$secondary: #8c61aa;

$chq2color-primary-comunity: #784f9d;
