@import 'bootstrap';

div {
  margin-bottom: 1em;
  clear: both;
  min-width: 210px;
  cursor: pointer;
  min-height: 30px;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 500ms;
  &:hover {
    background: rgba($color: #000, $alpha: 0.3);
    color: #fff;
  }
  img {
    margin: 0 0.5em 1rem 0;
    float: left;
    width: 30px;
  }
  h5 {
    font-family: $headings-font-family;
    font-size: 0.9rem;
    line-height: 1rem;
  }
  p {
    font-family: $headings-font-family;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.018em;
  }
}
