@import 'variables';

:host {
  display: block;
}

.card.--noCard {
  border: 0;
  padding: 0;
  .card-body, .card-footer {
    padding: 0;
  }
}

.card-footer {
  &:empty {
    display: none;
  }
}

.shippingMethod-name {
  font-weight: bold;
}