@import 'variables';
@import 'bootstrap';

:host {
  display: flex;
  > .container {
    margin-top: $spacer * 2;
    padding-bottom: 2rem;
  }
}

.body {
  display: flex;

  &-text {
    flex: 1 1 60%;
    margin-right: 1.5rem;

    ::ng-deep p {
      font-family: $headings-font-family;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: justify;
    }
  }

  &-imgSecondary {
    flex: 1 1 40%;
    img {
      width: 100%;
    }
  }
}
