@import 'variables';

:host {
  display: block;
  background-color: $gray-200;
  border-left: 1px solid $gray-200;
  border-right: 1px solid $gray-200;
}

.sectionContainer {
  padding: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: white;

  &-header {
    display: flex;
    align-items: center;
    height: 2.8rem;

    fa-icon {
      width: 1.8rem;
      margin-right: 0.3rem;
      font-size: 1rem;
      color: $gray-800;  
    }
  }

  &-headerTitle {
    font-size: 0.9rem;
    flex: 1 1 auto;
    margin: 0;
  }

  &-headerAction {
    text-align: right;
    width: 5rem;
    button {
      background-color: white;
      color: $secondary;
    }
  }

  &-body {
    text-align: center;

    button {
      margin-top: 1rem;
      width: 100%;
    }
  }
}

.listContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  > * {
    margin-right: 10px;
  }
}

.listItem {
  padding: 0.75rem;
  background-color: $gray-200;
  font-size: 0.85rem;
  text-align: left;
  width: 150px;
  flex: 0 0 150px;
  cursor: pointer;

  &-date {
    font-size: 0.7rem;
  }

  &-total {
    font-weight: bold;
    font-size: 1rem;
  }

  &-state {
    transform: scale(0.8) translateX(-10px);
  }

  &-count {
    font-size: 0.7rem;
    color: $gray-600;
  }
}

.listItem--orderGroup {
  width: 200px;
  height: 80px;
  flex: 0 0 200px;
  background-color: $gray-100;
  position: relative;

  .listItem-total {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }

  .listItem-state {
    position: absolute;
    top: 0.5rem;
    right: 0;
    transform: scale(0.8);
  }

  .listItem-count {
    font-size: 0.7rem;
    color: $gray-600;
  }
}

.moreActionsList {
  padding: 1rem;
  padding-top: 0.5rem;
  background-color: white;
}

@include media-breakpoint-down('xs') {
  :host {
    border-left: initial;
    border-right: initial;
  }
}