@import 'bootstrap';

$border-color: $gray-200;

:host {
  padding: 0.5rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  justify-content: space-between;
  position: relative;
  &:hover {
    box-shadow: 0 1px 4px #0003;
  }
}

.image-wrapper {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 170px;
  border-radius: 0.5rem;

  &:empty {
    background: #f1f1f1 url('/assets/icons/no-image.svg') no-repeat center;
  }
}

.product-image {
  opacity: 1;
  margin: auto;
  width: 100%;
  background: #f1f1f1;
  border-radius: 5px;
}

.product-details__name {
  flex: 1 1 auto;
  cursor: pointer;
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  letter-spacing: 0.0275em;
  color: $gray-800;
  overflow: hidden;

  &:hover {
    color: $gray-700;
    text-decoration: underline;
    text-decoration-color: $gray-400;
  }
}

.product-details__price {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  color: $gray-800;
  line-height: 1.2rem;
  @include media-breakpoint-up(sm) {
    font-size: 1.3rem;
  }

  &.--no-variant {
    font-size: 0.9rem;
    line-height: 2rem;
    color: $gray-600;
  }
}

.product-details__row {
  display: flex;
  align-items: center;

  > * {
    flex: 1 1 50%;
  }
}

.product-details__fromLabel {
  font-size: 0.9rem;
  color: $gray-600;
  font-weight: 400;
}

vsf-sellos-products {
  display: flex;
  padding: 0.5rem 0;
  cursor: pointer;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  background: #fffc;
  border-radius: 0.5rem;
  transition: all 500ms;
  &:hover {
    background-color: #fff;
  }
}

.placeholder {
  &-image {
    height: 200px;
    width: 100%;
  }

  &-title {
    height: $font-size-base;
    margin-bottom: $spacer / 2;
  }

  &-body {
    height: $font-size-base;
  }
}

.productor {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
  display: flex;
  align-items: center;
  letter-spacing: 0.018em;
  color: #787885;
}

.tooltip {
  background: white;
  border: 1px solid $gray-500;
  border-radius: 0.5rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  z-index: 4;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);

  ::ng-deep .sellos {
    .sello {
      margin: 0 !important;
    }
  }
}

.product-details__action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  .add-cart {
    border-radius: 0.5rem;
    fa-icon {
      position: relative;
      top: 2px;
    }
  }
}

.add-to-cart-notification {
  display: flex;
  margin-bottom: $spacer;

  .thumb {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}

.modal-header-productDetail {
  border-bottom: 0;
}

@include media-breakpoint-down(lg) {
  .image-wrapper {
    height: 160px;
  }
}

@include media-breakpoint-down(sm) {
  .placeholder {
    &-image {
      width: 100%;
      height: 140px;
    }

    &-title {
      height: $font-size-base;
      margin-bottom: $spacer / 2;
    }

    &-body {
      height: $font-size-base;
    }
  }

  .product-card {
    padding: 1rem;

    @include media-breakpoint-up(md) {
      padding: 1.5rem;
    }
  }

  .image-wrapper {
    height: 130px;
  }

  .modal-body-productDetail {
    padding: 0.5rem;
  }

  .product-details__name {
    font-size: 0.85rem;
  }
}

.product-channel {
  display: block;
  border: 1px solid #6bbe6b;
  padding: 3px;
  border-radius: 0.5rem;
  position: absolute;
  top: 12px;
  left: 12px;
  background: #fff;
  height: 58px;
  width: 58px;
  overflow: hidden;
  figure {
    margin: 0;
    min-height: 50px;
    min-width: 50px;
  }
}
