@import 'bootstrap';

:host {
  display: block;
  margin-top: $spacer * 0.5;
}

.form-group {
  margin-bottom: 2rem;
}

.success {
  text-align: center;
  
  fa-icon {
    color: $success;
    font-size: 3rem;
    display: block;
    margin-bottom: 1rem;
  }

  &-message {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &-detail {
    font-size: 1rem;
  }

  &-actions {
    margin-top: 1rem;
  }
}

.notFound {

  &-btnRegistrar {
    margin-bottom: 1rem;
  }

  &-message {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}